 <div class="container">       
    <div class="row">
            <div class="col-md-12">
                <div class="title-section  clearfix">
                    <h3 class="float-start">Women's tops</h3> 
                    <select class="float-end" (change)="filterItem($event)">
                    <option value="" default>Filter by size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="XL">XL</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3" *ngFor="let list of itemLists | filteritem:filteredString">
                <div class="card">
                    <img src="http://localhost:4200/assets/images/{{list.productImage}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="sale-label" *ngIf="list.isSale">Sale</label>
                                <label class="exclusive-label" *ngIf="list.isExclusive">Exclusive</label>
                            </div>
                            <div class="col-sm-12 col-lg-7" >
                                <label class="text-overflow-dot" title="{{list.productName}}"><strong>{{list.productName}}</strong></label> 
                            </div>
                            <div class="col-lg-5 pl-0">
                                <span class="text-overflow-dot-100" title="{{list.price}}"><strong>{{list.price}}</strong></span>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>